body {
    font-family: Arial, sans-serif;
    background-color: #efffd7;
    margin: 0;
    padding: 20px;
}

h1,
h2,
h3 {
    color: #333;
}

.weapon-container {
    text-align: center;
}

.weapon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weapon-card {
    background-color: #d1fe8c;
    border: 1px solid #cdfe84;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weapon-card a {
    text-decoration: none;
    color: #000000;
}

.weapon-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.weapon-card p {
    color: rgb(33, 33, 33)
}

.weapon-detail {
    text-align: center;
    padding: 20px;
}

.weapon-detail img {
    width: 50%;
    border-radius: 8px;
}

.weapon-detail a {
    display: inline-block;
    margin-top: 20px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}